<%- include("partials/header") -%>

<div class="donor animated zoomIn">
  <% for (var i=users.length-1; i>=0; i--){ %>

    <br><p class="label">Blood Group : </p><h4><%= users[i].BloodGroup %></h4>
    <br><p class="label">State : </p><h6><%= users[i].State %></h6>
    <br><p class="label">District : </p><h6><%= users[i].District %></h6>
    <br><p class="label">Name : </p><h6><%= users[i].Name %></h6>
    <br><p class="label">Phone Number : </p><h6><%= users[i].PhoneNumber %></h6>
    <div class="break">

    </div>
  <% }; %>
</div>








<%- include("partials/footer") -%>
